/**
 * vim:set autoread | au CursorHold * checktime | call feedkeys("lh")
 */
:root {
  --font-size: 1rem;
  --line-height-multiplier: 1.25;
  --lh: calc( var( --line-height-multiplier ) * var( --font-size ) );
  --color-dark: #101010;
  --color-light: #f0f0f0;
  --color-highlight: hsla(0, 100%, 66%, 0.5);
  --color-input-bg: var( --color-light );
  --color-input-fg: var( --color-dark );
  --color-input-valid: green;
  --color-input-invalid: red;
  --transition-timing: 0.3s;
  --transition-timing-function: ease-in-out;
  --color-bg: var( --color-light );
  --color-fg: var( --color-dark );
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-highlight: hsla(60, 100%, 66%, 0.5);
    --color-bg: var( --color-dark );
    --color-fg: var( --color-light );
  }
}

* {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: var( --color-bg );
  color: var( --color-fg );
  line-height: var( --lh );
  font-size: var( --font-size );
  font-family: serif;
  display: flex;
  min-height: 100%;
}

body {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: calc( 2 * var( --lh ) ) 1fr;
  grid-template-areas:
    "header header"
    "left main";
  inline-size: 100%;
  max-inline-size: calc( 40 * var( --lh ) );
  margin: auto;
}

body > header {
  height: calc( 2 * var( --lh ) );
  grid-area: header;
}

main {
  grid-area: main;
}

:focus:valid {
  outline: 1px solid var( --color-input-valid );
}

:is(
  input:not([type=checkbox]):not([type=radio]):user-invalid,
  select:user-invalid,
  textarea:user-invalid
) {
  outline: 3px solid var( --color-input-invalid );
}

#left {
  grid-area: left;
  overflow: auto;
}

#left :where( [type='checkbox'], [type='radio'] ) {
  display: none;
}

#left [role='navigation'] {
  display: flex;
  flex-direction: column;
}

#left [role='navigation'] dd {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow: hidden;
  transition: flex-basis var( --transition-timing ) var( --transition-timing-function );
}

#left [role='navigation'] :where( ul, li ) {
  display: contents;
}

#left [role='navigation'] :where( label, a )  {
  display: block;
  padding: .5ch;
}

#menu-1:checked ~ [role='navigation'] > #menu-header-1 + dd,
#menu-2:checked ~ [role='navigation'] > #menu-header-2 + dd,
#menu-3:checked ~ [role='navigation'] > #menu-header-3 + dd,
#menu-4:checked ~ [role='navigation'] > #menu-header-4 + dd,
#menu-5:checked ~ [role='navigation'] > #menu-header-5 + dd {
  flex-basis: var( --flex-basis );
}


label {
  cursor: pointer;
}

form {
  margin: 0;
}

details {
  margin: var( --lh ) 0;
}

summary {
  cursor: pointer;
}

summary:focus {
  outline: none;
}

form > label {
  display: block;
}

textarea,
button,
input {
  background-color: var(--color-input-bg);
  color: var(--color-input-fg);
}

[aria-labelledby] {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax( 33.33%, 1fr ) );
}

input[type=search] {
  -webkit-appearance: searchfield;
  -moz-appearance: searchfield;
  appearance: searchfield;
}

.section-title {
  grid-column: 1 / span 3;
  text-align: center;
}

.labeled {
  box-shadow: 0 0 3px 1px var(--color-highlight);
}

.search-container {
  display: inline-flex;
  width: auto;
  color: var( --color-input-fg );
  background-color: var( --color-input-bg );
  border-radius: calc( 1 / 2 * var( --lh ) );
  height: var( --lh );
  transition: background-color .3s ease-in-out;
}

.search-container:focus-within {
  background-color: hsla( 60, 50%, 100%, 100% );
}

.search-container label {
  display: inline-block;
  background-color: transparent;
  padding-inline-start: calc( 1 / 4 * var( --lh ) );
}

.search-container label > span {
  width: auto;
}

.search-container input[type='search'] {
  box-sizing: content-box;
  border: none;
  width: calc( 4 * var( --lh ) );
  transition: width .3s ease-in-out;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.search-container input[type='search']:focus {
  width: calc( 8 * var( --lh ) );
  outline: none;
}

.search-container button {
  position: relative;
  background: transparent;
  border: none;
  inline-size: calc( 5 / 4 * var( --lh ) );
}

.search-container button span {
  display: none;
}

.search-container button:before {
  content: "";
  background-image: url('/style/images/magnifying-glass.svg');
  background-size: contain;
  background-color: var( --color-fg );
  display: inline-block;
  block-size: calc( 9 / 10 * var( --lh ) );
  inline-size: calc( 9 / 10 * var( --lh ) );
  position: absolute;
  inset-block-start: calc( 1 / 20 * var( --lh ) );
  inset-inline-start: calc( 1 / 20 * var( --lh ) );
}
