/**
 * vim:set autoread | au CursorHold * checktime | call feedkeys("lh")
 */
:root {
  --font-size: 1rem;
  --line-height-multiplier: 1.25;
  --lh: calc( var( --line-height-multiplier ) * var( --font-size ) );
  --color-dark: #101010;
  --color-light: #f0f0f0;
  --color-highlight: hsla(0, 100%, 66%, 0.5);
  --color-input-bg: var( --color-light );
  --color-input-fg: var( --color-dark );
  --transition-timing: 0.3s;
  --transition-timing-function: ease-in-out;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-highlight: hsla(60, 100%, 66%, 0.5);
    background-color: var( --color-dark );
    color: var( --color-light );
  }
}

* {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  display: grid;
  grid-template: 100vh / 100vw;
  align-items: center;
  justify-items: center;
  background-color: var( --color-light );
  color: var( --color-dark );
  line-height: var( --lh );
  font-size: var( --font-size );
  font-family: serif;
}

body {
  width: 100%;
  max-width: calc( 30 * var( --lh ) );
  margin: auto;
}

header {
  height: calc(2 * var(--lh));
}

label {
  cursor: pointer;
}

form {
  margin: 0;
}

details {
  margin: var( --lh ) 0;
  transition:
    max-height
    var( --transition-timing )
    var( --transition-timing-function );
  overflow-y: hidden;
}

details:not([open]) {
  max-height: none;
}

details ::-webkit-details-marker {
  display: none;
}

summary {
  position: relative;
  padding-left: var( --lh );
  cursor: pointer;
  list-style: none;
}

summary:focus {
  outline: none;
}

summary:before {
  position: absolute;
  left: 0;
  content: '\25b6';
  transition: transform linear .3s;
  line-height: var( --font-size );
}

details[open] summary:before {
  transform: rotate(90deg);
}

form > label {
  display: block;
}

input {
  background-color: var(--color-input-bg);
  color: var(--color-input-fg);
}

input:focus:valid {
  outline: 1px solid green;
}

input:placeholder-shown:required,
input:not(:placeholder-shown):invalid,
input:focus:invalid {
  outline: 3px solid red;
}

[aria-labelledby] {
  display: grid;
  grid-template-columns: repeat( auto-fill, 1fr );
}

input[type=search] {
  -webkit-appearance: searchfield;
  -moz-appearance: searchfield;
  appearance: searchfield;
}

.section-title {
  grid-column: 1 / span 3;
  text-align: center;
}

.labeled {
  box-shadow: 0 0 3px 1px var(--color-highlight);
}

.search-container {
  display: inline-flex;
  width: auto;
  color: var( --color-input-fg );
  background-color: var( --color-input-bg );
  border-radius: calc( 1 / 2 * var( --lh ) );
  height: var( --lh );
  transition: background-color .3s ease-in-out;
}

.search-container:focus-within {
  background-color: hsla( 60, 50%, 100%, 100% );
}

.search-container label {
  display: inline-block;
  background-color: transparent;
  padding-left: calc( 1 / 4 * var( --lh ) );
}

.search-container label > span {
  width: auto;
}

.search-container input[type='search'] {
  box-sizing: content-box;
  border: none;
  width: calc( 4 * var( --lh ) );
  transition: width .3s ease-in-out;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.search-container input[type='search']:focus {
  width: calc( 8 * var( --lh ) );
  outline: none;
}

.search-container button {
  position: relative;
  background: transparent;
  border: none;
  width: calc( 5 / 4 * var( --lh ) );
}

.search-container button span {
  margin-left: -999em;
}

.search-container button:before {
  content: "";
  /* http://commons.wikimedia.org/wiki/File:Magnifying_glass_icon.svg */
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OTAiIGhlaWdodD0iNDkwIj4KPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjM2IiBzdHJva2UtbGluZWNhcD0icm91bmQiCmQ9Im0yODAsMjc4YTE1MywxNTMgMCAxLDAtMiwybDE3MCwxNzBtLTkxLTExNyAxMTAsMTEwLTI2LDI2LTExMC0xMTAiLz4KPC9zdmc+IA==");
  background-size: contain;
  display: inline-block;
  height: calc( 9 / 10 * var( --lh ) );
  width: calc( 9 / 10 * var( --lh ) );
  position: absolute;
  top: calc( 1 / 20 * var( --lh ) );
  left: calc( 1 / 20 * var( --lh ) );
}
